
@{
    Layout = "~/Views/Shared/_ListPageLayout.cshtml";
    ViewBag.Title = "杂志";
    ViewBag.SearchAction = "MuKeCommonSelect/Magazine";
    ViewBag.ItemsView = "_MagazineItems";
}

<script type="text/javascript">
   
</script>

@section SearchCondition
{
<input type="hidden" name="viewName" value="_MagazineItems" />
<input type="hidden" name="PageSize" value="10" />
    <input type="hidden" name="ControlID" id="ControlID" value='@Request.QueryString["ControlID"]'/>

    <tr>

        <th><label> 杂志名称</label></th>
        <td><input type="text" name="Title" class="txt" /></td>
        <td><input type="submit" class="btn-search" value="查询" /></td>
    </tr>
}


