<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="exceptionSection" type="Yuemeihui.Framework.Exception.Configuration.ExceptionSection,Yuemeihui.Framework.Exception" />
  </configSections>

  <exceptionSection>
    <items>
      <add name ="Default"
           provider="Yuemeihui.Framework.Exception.ExceptionProvider,Yuemeihui.Framework.Exception"
           descriptionXml="ExceptionDescription.xml"
           businessName=""/>
    </items>
  </exceptionSection>
</configuration>