@model IPagedList<AppStoreSet>
    @{
        Layout = "~/Views/Shared/_ItemsPartialLayout.cshtml";
    }

    @section Head
{
        <th>ID</th>
        <th>版本名称</th>
        <th>是否通过审核</th>
        <th>创建时间</th>
        <th class="align-center">操作</th>
    }

    @section Items
{
        @foreach (var item in Model)
    {
            <tr class="hover">
                <td>@item.Id</td>
                <td>@item.VersionName</td>
              <td>@Html.EnumDescription(item.PassedAppStore)</td>
              
            <td>@item.CreateTime.ToString("yyyy-MM-dd HH:mm")</td>
            <td class="w270 align-center">

                <a class="edit" href="/MuKeAppStoreSet/FormForUpdate?id=@item.Id">修改</a> |
                <a class="edit" href="javascript:confirmDelete('/MuKeAppStoreSet/Remove','id=@item.Id',showSubmitResult)">删除</a>
            </td>
        </tr>
        }
    }
