
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestQCloudUpload</title>

    <script src="~/Assets/Plugins/jquery/jquery-1.11.1.min.js"></script>
    <script src="http://qzonestyle.gtimg.cn/open/qcloud/js/vod/sdk/uploaderh5.js" charset="utf-8"></script>
 
</head>
<body>
<div>
  
 
</div>
</body>
</html>
