@model IPagedList<BasicData.Domain.ShangJia>
    @{
        Layout = "~/Views/Shared/_ListPageLayout.cshtml";
        ViewBag.Title = "商家管理";
    }
    @section SearchCondition
{
        <tr>
    <td><a id="MuKeHomeBannerAdd" href="/ShangJia/FormForAdd/">添加</a> </td>
</tr>
}



