@model IPagedList<BasicData.Domain.MuKeDirtyWord>
    @{
        Layout = "~/Views/Shared/_ListPageLayout.cshtml";
        ViewBag.Title = "商家管理";
    }
    @section SearchCondition
{
        <tr>
            <th><label>名称</label></th>
            <td><input type="text" name="Name" class="txt" /></td>
            <td><input type="submit" class="btn-search" value="查询" /></td>
            <td><a id="MuKeDirtyWordAdd" href="/MuKeDirtyWord/FormForAdd/">添加</a> </td>
        </tr>
    }

