@model IPagedList<BasicData.Domain.MuKeDirtyWord>
    @{
        Layout = "~/Views/Shared/_ListPageLayout.cshtml";
        ViewBag.Title = "脏词管理";
    }
    @section SearchCondition
{
        <tr>
            <th><label>名称</label></th>
            <td><input type="text" name="Name" class="txt" /></td>
            <td><input type="submit" class="btn-search" value="查询" /></td>
            <td><a id="MuKeDirtyWordAdd" href="/MuKeDirtyWord/FormForAdd/">添加</a> </td>
        </tr>
    }

@using (@Html.BeginForm("UploadTxt", "MuKeDirtyWord", FormMethod.Post, htmlAttributes: new Dictionary<string, object>() { {"id","ImportTxt"}, { "enctype", "multipart/form-data" } }))
{
   
    <input type="hidden" name="PageIndex" value="@ViewBag.PageIndex" />
    <input type="hidden" name="PageSize" value="@ViewBag.PageSize" />

    <input id="file1" name="file1" type="file" accept="text/plain" /><input id="btnImport" type="button" onclick="btnImportClick()" value="导入脏词" />
    <div style="color: red;margin-top: 5px;">只能从文本文件（txt）导入</div>
    <script type="text/javascript">
        function btnImportClick() {
            document.getElementById("ImportTxt").submit();
        }
    </script>

}

