
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
<div>
    @Html.Raw(HttpContext.Current.Server.HtmlDecode(ViewBag.Content))
</div>
</body>
</html>
