@model IPagedList<MuKeCase>
@{
    Layout = "~/Views/Shared/_ListPageLayout.cshtml";
    ViewBag.Title = "案例管理";
}
@section SearchCondition
{
    <tr>
        <th><label>状态</label></th>
        <td>
            @Html.DropDownList("Status", @Html.SelectListItems(MuKeEnabledStatus.None, true))
@*            <input type="hidden" name="ObjectId" value="@ViewBag.ObjectId" />*@
@*            <input type="hidden" name="RegisterType" value="@ViewBag.RegisterType" />*@
        </td>
        <th><label>名称</label></th>
        <td><input type="text" name="Name" class="txt" /></td>
        <td><input type="submit" class="btn-search" value="查询"/></td>
        <td><a id="mukecaseAdd" href="/MuKeCase/FormForAdd/">添加</a> </td>
    </tr>
}
