@model IPagedList<MuKeHomeBanner>
@{
    Layout = "~/Views/Shared/_ListPageLayout.cshtml";
    ViewBag.Title = "首页轮播";
}
@section SearchCondition
{
    <tr>
        <th><label>状态</label></th>
        <td>
            @Html.DropDownList("Status", @Html.SelectListItems(MuKeEnabledStatus.None, true))
        </td>
@*        <th><label>名称</label></th>*@
@*        <td><input type="text" name="Name" class="txt" /></td>*@
        <td><input type="submit" class="btn-search" value="查询" /></td>
        <td><a id="MuKeHomeBannerAdd" href="/MuKeHomeBanner/FormForAdd/">添加</a> </td>
    </tr>
}
