@model MuKeUsers
@{
    Layout = "~/Views/Shared/_FormPageLayout.cshtml";
    ViewBag.Title = "修改密码";
}

@section Form
{
@*    @if (User.IsInRole(UPMSConfig.SystemRole.ToString()))*@
@*    {*@
@*        <tr>*@
@*            <td>系统管理员不允许修改密码</td>*@
@*        </tr>*@
@*    }*@
@*    else*@
@*    {*@
        <tr>
            <td><em>旧 密 码:</em></td>
            <td class="vatop rowform"><input id="oldPassword" type="password" name="oldPassword" class="txt"></td>
            <td style="width:800px"></td>
        </tr>
        <tr>
            <td><em>密　　码:</em></td>
            <td class="vatop rowform"><input id="newPassword" type="password" name="newPassword" class="txt"></td>
            <td></td>
        </tr>
    <tr>
        <td><em>确认密码:</em></td>
        <td class="vatop rowform"><input id="newPassword1" onchange="checkPasswords()" type="password" class="txt"></td>
        <td></td>
    </tr>
<script type="text/javascript">
    function checkPasswords() {
        //debugger;
        var pass1 = document.getElementById("newPassword");
        var pass2 = document.getElementById("newPassword1");

        if (pass1.value != pass2.value)
            pass1.setCustomValidity("两次输入的密码不匹配");
    }
</script>
        <tr>
            <td><em></em></td>
            <td class="vatop rowform">@Html.ValidationSummary()</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td >
                <input type="submit" class="btn" value="提交" />
            </td>
        </tr>
@*    }*@
}
