@model MuKeUsers
@{
    Layout = "~/Views/Shared/_FormPageLayout.cshtml";
    ViewBag.Title = "修改密码";
}
@section Form
{
    <tr>
        <td style="width: 50px !important">昵称</td>
        <td class="vatop rowform">@Model.LoginName<input type="hidden" name="userId" value="@Model.Id"></td>
        <td></td>
    </tr>

    <tr>
        <td>密　　码:</td>
        <td class="vatop rowform"><input type="password" name="newPassword" class="txt"></td>
        <td></td>
    </tr>
    <tr>
        <td>确认密码:</td>
        <td class="vatop rowform"><input type="password" class="txt"></td>
        <td></td>
    </tr>
    <tr>
        <td><em></em></td>
        <td class="vatop rowform">@Html.ValidationSummary()</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="submit" class="btn" value="提交" />
        </td>
    </tr>

}
