@model IPagedList<MuKeAnswerQuestion>
    @{
        Layout = "~/Views/Shared/_ListPageLayout.cshtml";
    }
    @section SearchCondition
{
        <tr>

            @*<td><input type="submit" class="btn-search" value="查询" /></td>*@
            @*<td style="margin-left:400px;"><a href="/MuKeAnswerQuestionList/Index/">返回答疑列表</a> </td>*@
        </tr>
    }
