
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <link href="~/Assets/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/Plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Assets/Plugins/jquery/jquery-1.11.1.min.js"></script>
    <script src="~/Assets/Plugins/jquery/ajaxfileupload.js"></script>
    <script src="~/Assets/Js/Core/Tools.js"></script>
    <script src="~/Assets/Js/Core/ToolsAdapterForCrossFrame.js"></script>
    <script>
        function uploadfile_addAtta() {
            //上传附件 返回文件名称和路径
            $.ajaxFileUpload(
                {
                    url: '/File/UploadPic',
                    secureuri: false,
                    fileElementId: 'fileAvatar',
                    dataType: 'json',
                    success: function (data) {
                            showSuccessMsg();
                    },
                    error: function (data, status, e) {
                        showErrorMsg();
                    }
                }
            );
            return false;
        }

        function uploadfile_delAtta(obj) {

            var rowIndex = obj.parentElement.parentElement.rowIndex;
            obj.parentElement.parentElement.parentElement.deleteRow(rowIndex);

            //todo 后期考虑删除服务器上的资源
        }

        function UploadFillGetAtta() {
            ////获取上传的附件
            var atta = new Array();
            $("#tbUploadFileCommon .data-attaname").each(function () {
                var filename = $(this).attr("data-attaname");
                var filepath = $(this).attr("data-attapath");
                atta.push({ FileName: filename, FilePath: filepath });
            });
            return atta;
        }


        function setImagePreview() {
            var docObj = document.getElementById("fileAvatar");
            var imgObjPreview = document.getElementById("preview");
            if (docObj.files && docObj.files[0]) {
                //火狐下，直接设img属性
                imgObjPreview.style.display = 'block';
                imgObjPreview.style.width = '640px';
                imgObjPreview.style.height = '348px';
                //imgObjPreview.src = docObj.files[0].getAsDataURL();
                //火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式
                imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);

            } else {
                //IE下，使用滤镜
                docObj.select();
                var imgSrc = document.selection.createRange().text;
                var localImagId = document.getElementById("localImag");
                //必须设置初始大小
                localImagId.style.width = "640px";
                localImagId.style.height = "348px";
                //图片异常的捕捉，防止用户修改后缀来伪造图片
                try {
                    localImagId.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                    localImagId.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;
                } catch (e) {
                    alert("您上传的图片格式不正确，请重新选择!");
                    return false;
                }
                imgObjPreview.style.display = 'none';
            }
            return true;
        }
    </script>
</head>

<body>
    <div class="page">
        <div class="fixed-bar">
            <div class="item-title"><span>首页>APP欢迎图配置</span></div>
        </div>
        <div class="fixed-empty"></div>
        <section>
            <form>
                <div>
                    <div id="upld" title="欢迎图" style="width: 640px;height: 348px;border: 0.1px solid #cccccc;background: #ffffff url('/Assets/Images/WelcomePicture.jpg') no-repeat 50% 50%;background-size: 80% auto;cursor:pointer;">
                        <img id="preview" style="height:100%;width:100%;" src="/Assets/Images/WelcomePicture.jpg" />
                        <input type="file" name="file" id="fileAvatar" value="" class="full-width" style="width: 90%" onchange="setImagePreview();">
                        <input type="button" class="btn" value="提交" onclick="uploadfile_addAtta();" />
                        <br />
                        <table id="tbUploadFileCommon" style="width: 50%;"></table>
                    </div>
                </div>
            </form>
        </section>
    </div>
</body>
</html>
